*{
	margin: 0;
	padding: 0;
}

.box{
	width: 320px;
	height: 568px;
	/*盒子居中*/
	margin: 0 auto;
	background: lightgray;

	position: relative;

}

#beginDiv{
	height: 568px;
	background: url("image/开始背景.png") no-repeat;
	/*display: none;*/
}

#beginButton{
	width: 150px;
	height: 30px;
	border: solid 1px black;

	position: absolute;
	left: 85px;
	top: 470px;

	/*去掉轮廓线*/
	outline-style: none;

	/*设置边框线的角度*/
	border-radius: 30px;

}
#planeDiv{
   height: 568px;
   background: url("image/background_1.png");
   display: none;
}
#planeDiv img{
	position: absolute;
	z-index: 1;
}
/*暂停界面*/
#suspendDiv{
	width: 150px;
	height: 110px;
	/*background: red;*/
	position: absolute;;
	top: 210px;
	left: 85px;
	z-index: 3;
	display: none;
}
#suspendDiv button{
	width: 150px;
	height: 30px;
	margin-top: 20px;
	border: 1px solid black;
	border-radius: 30px;
	outline-style: none;
}
#enddiv{
	position: absolute;
	top: 210px;
	left: 75px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background: #d7ddde;
	display: none;
	z-index: 3;
}

.planeText{
	width: 160px;
	height: 30px;
	line-height: 30px;
	font-style: bold;
}
#planeScore{
	width: 150px;
	height: 80px;
	line-height: 80px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-style: bold;

}
#enddiv div{
	width: 160px;
	height: 50px;
}
#enddiv div button{
	width: 90px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid gray;
	outline-style: none;
	margin-top: 10px;
}
#scoreDiv{
	position: absolute;
	left: 10px;
	top: 10px;
	font-weight: bold;
}